@import "tailwindcss";

@theme {
  --color-background: #1c1614;
  --color-surface: #261f1c;
  --color-surface-bright: #362d29;
  --color-surface-container: #2b2320;
  --color-surface-container-high: #3d332f;
  
  --color-primary: #d4a373;
  --color-primary-container: #5c432d;
  
  --color-secondary: #e6ccb2;
  --color-secondary-container: #7a5c43;
  
  --color-on-background: #fefae0;
  --color-on-surface: #ede0d4;
  --color-on-surface-variant: #a69080;
  
  --color-outline: #5c4d44;
}

:root {
  background-color: var(--color-background);
  color: var(--color-on-background);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-geist-sans), sans-serif;
  overflow: hidden; /* App-like feel */
}

/* Custom Scrollbar for sleek UI */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-surface-container-high);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-outline);
}
